body{
    margin: 0;
    padding: 0;
    background: url("image/9.jpeg");
    background-size: cover;
    font-family: sans-serif;
}

.loginBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 80px 40px;
    width: 350px;
    height: 420px;
    box-sizing: border-box;
    background: rgba(0,0,0,.5);
}

.User
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(-100px/2);
    left: calc(50% - 50px);

}
h2{
    margin: 0;
    padding: 0 0 20px;
    color: yellow;
    text-align: center;
}

.loginBox p{
    margin: 0;
    padding: 0;
    color: white;
    font-weight: bold;
}

.loginBox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginBox input[type="text"],
.loginBox input[type="password"]
{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

::placeholder
{
   color: rgba(255 255 255 .5);
}

.loginBox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    background: #ff267e;
    border-radius: 20px;
}

.loginBox input[type="submit"]:hover{
    background: yellow;
    color: #89179e;
}

.loginBox a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}